  <footer style="background-color:rgba(167, 105, 54, 0.8);;">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="mb-3" style="letter-spacing: 3px; color: white;">Odwiedź nas!</h5>
        <p>
          Istnieje możliwość przejrzenia naszych katalogów i porozmawiania z konsultatami na miejscu w naszej siedzibie.
          Nasze biuro znajduję się na ulicy Legionów 27 w Warszawie.
          Odwiedź Cars i odjedź sportowym samochodem!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: white;">Linki</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f;">Często zadawane pytania</a>
          </li>
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f;">Możliwość dostaw pod dom</a>
          </li>
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f;">Cennik dostaw</a>
          </li>
          <li>
            <a href="#!" style="color: #4f4f4f;">Gdzie dostarczamy?</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-1" style="letter-spacing: 2px; color:white">Godziny otwarcia</h5>
        <table class="table" style="color: #4f4f4f; border-color: #666;">
          <tbody>
            <tr>
              <td>Pon - Pt:</td>
              <td>8:00 - 17:00</td>
            </tr>
            <tr>
              <td>Sb - Nd:</td>
              <td>9:00 - 13:00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Wszelkie prawa zastrzeżone:
    <a class="text-dark" routerLink="/">cars.pl</a>
  </div>

</footer>

