body {
  background-color:rgb(250, 235, 214);
}

.text-p {
  display:flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
.text {
  background-color: rgba(167, 105, 54, 0.8);
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  z-index: 1;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: rgba(167, 105, 54, 0.8);
  padding: 10px 0;
}

h3 {
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  height: 100vh;
  background-image: url(https://www.bmw.pl/content/dam/bmw/common/all-models/m-series/m8-coupe/2022/onepager/bmw-m8-coupe-onepager-sp-desktop.jpg.asset.1658234452853.jpg);
  background-position: center top;
  background-size:cover;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

#sub-text {
  margin-top: 20px;
  color: rgb(255, 230, 0);
  font-size: 20px;
  font-weight: bold;
  /* visibility:hidden; */
}

.display {
  display: none;
}
