<div class="jumbotron">
  <div class="col-lg-8 col-md-8 col-11">
    <div class="text">
      <h1>Cars</h1>
        <p>Zapisz się do newsletter'a!</p>
          <form>
            <div class="input-group">
              <input type="email" id="email" class="form-control" size="50" placeholder="Podaj adres e-mail..." [value]="emailValue" name="email" #email="ngModel" ngModel required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger" [disabled]="!email.valid" (click)="subscribe()" >Subskrybuj</button>
        </div>
      </div>
      <p class="display" id="sub-text" >Subskrypcja została potwierdzona!</p>
    </form>
  </div>
  </div>
</div>
      <h2 class="text-center mt-5">O firmie Cars</h2>
      <div class="text-p">
        <br>
        <h3 class="col-11 text-center" >JESTEŚMY PO TO BY SPEŁNIAĆ TWOJE OCZEKIWANIA!!!</h3><br>
        <p class="col-11">Wypożyczalnia samochodów Cars Sp z o.o. to firma z ponad 10 letnim doświadczeniem, której od samego początku hasłem przewodnim jest zaspokajanie oczekiwań wszystkich klientów.
          Codziennie udowadniamy, że wynajem samochodu to łatwy i tani sposób podróżowania. W naszej ofercie znajduje się przeszło 1500 aut na różnych poziomach cenowych, z różnych segmentów rynkowych, różnych marek, zarówno auta osobowe, jak i dostawcze. Na bieżąco śledzimy trendy i utrzymujemy relacje biznesowe z dealerami czołowych marek. Chcemy, by nasi klienci mieli dostęp do najlepszych aut.
          Cars wyróżnia najwyższy standard obsługi Klienta dzięki czemu posiadamy rzeszę stałych klientów i nieustannie zyskujemy nowych.
          Prowadzimy wynajem samochodów na terenie całej Polski, a nasze oddziały znajdują się na krajowych lotniskach oraz w większości dużych miast.
          Wynajem samochodów w Cars to m.in:<br></p>
          <span class="col-11" style="font-weight:bold"><ul>
            <li>brak kaucji,</li>
            <li>brak limitu kilometrów,</li>
            <li>dostępność 24h/365 dni,</li>
            <li>flota nowych pojazdów z rocznika 2021/2022,
              a przede wszystkim preferencyjne ceny dla każdego.</li>
          </ul>
           </span>
        <br>
        <a routerLink="/contact" (click)="goToTop()">
          <button class="btn btn-primary border-dark btn-lg mb-4" >Odezwij się do nas!</button>
        </a>







