body {
  background-color:rgb(250, 235, 214);
}

.text-p {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(167, 105, 54, 0.8);
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  width: 60vw;
  z-index: 1;
  text-align: center;
}




h2 {
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: rgba(167, 105, 54, 0.8);
  padding: 10px 0;
}

h3 {
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.bmw.pl/content/dam/bmw/common/all-models/m-series/m8-coupe/2022/onepager/bmw-m8-coupe-onepager-sp-desktop.jpg.asset.1658234452853.jpg);
  background-position: center top;
  background-size:cover;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 0;
}


