* {
  box-sizing: border-box;

}

.bgc {
  height: 100vh;
  background-image: url('https://www.auto-motor-i-sport.pl/media/lib/3215/2022-audi-r8-v10-performance-rwd-16.jpg');
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-position: center top;
  background-size:cover;
}

.container {
  background-color: rgba(167, 105, 54, 0.8);
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  z-index: 1;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  min-width:230px;
}

  .btn {
    width: 100px;
  }


  input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  @media (max-height: 992px) {
    .container {
      margin-top: 82px;
    }
  }
