* {
  box-sizing: border-box;

}

.bgc {
  height: 100vh;
  background-image: url('https://www.auto-motor-i-sport.pl/media/lib/3215/2022-audi-r8-v10-performance-rwd-16.jpg');
}

.container {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(167, 105, 54, 0.8);
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  width: 40vw;
  z-index: 1;
  text-align: center;
}

  .btn {
    width: 100px;
  }


  input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
  }
