
<div class="container">
  <img src="https://store-images.s-microsoft.com/image/apps.38640.67461149029449794.702c48eb-226e-4fd8-b097-cd537cc2d4cb.735a473f-19ec-438c-bc04-bc845fd35473" style=" width: 100%;" alt="...">
  <div class="image-text">
  <h3 >Wynajmij auto w największej wypożyczalni samochodów w Polsce </h3>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-map-location-dot"></i></span>
    <select class="form-select" id="inputGroupSelect01 ">
      <option selected>  Wybierz miejsce odbioru auta...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="row">
  <div class="input-group col mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
    <select class="form-select " id="inputGroupSelect01">
      <option selected>Od kiedy...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="input-group col mb-3 ">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar-days"></i></span>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Do kiedy...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three </option>
    </select>
  </div>
</div>



  </div>
</div>

