* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


.home {
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/34/7c/6e/347c6e5b8d46d7f2d14ae0c14948b71c.jpg');
  background-position: center top;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
}


.image-text {
  background-color: rgba(167, 105, 54, 0.8);
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  z-index: 1;
  text-align: center;
}

.image-text h3 {
  margin-bottom: 40px;
}

i {
  color:black;
  margin: 3px;
}

.input-group-text {
  padding: 10px;
  background-color: rgba(148, 103, 12, 0.6);
  min-width: 46px;
}

.input-text {
  border:none;
  border-radius:5px;
}

select, input{
  padding-left: 10px;
}
