* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  
}


h3 {
  background-color: rgba(167, 105, 54, 0.8);
  padding: 10px 0;
}

.prizes {
  margin: 70px 0 70px 0;
  text-align:center;
  text-transform: uppercase;
}

.container-fluid {
  /* width: 100%; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

img {
  margin: 0 50px 100px 0;
}

.desc-car {
  margin:  100px;
  padding: 0px;
  height: 350px;

}

.desc-p {
  width: 55%;
}
.description {
    /* padding:  */
  font-size: 13px;
display:flex;
justify-content:  center;
align-items: center;

}

.desc {

  text-align:center;
  text-transform: uppercase;
}

.description p {
  margin-bottom: 100px;
  line-height: 25px;
}

section {
  margin: 0 200px;
}

.pic {
  margin:0;
}
