* {
 box-sizing: border-box;
 padding: 0;margin: 0;
}

.group {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  width:390px ;
  margin: 80px 20px 20px 20px;
  border: #303030 1px solid;
  border-radius: 15px;
  background-color: rgba(167, 105, 54, 0.8);
  color: black;
  font-size: 18px;
  font-weight: 600;
}

img {
  width:370px;
  height: 300px;
  margin: 10px;
}

.btn {
  width: 250px;
  font-size: 14px;
  margin: 20px 0;
}

table {
  margin:0 10px;
}
