<div class="container"></div>
   <div class="clearfix"
      *ngFor="let car of cars">
      <img [src]="car.img" class="m-3"/>
      <table>
          <tr>
            <td class="name">Marka:</td>
            <td>{{ car.brand }}</td>
          </tr>

          <tr>
            <td class="name">Model:</td>
            <td>{{ car.model }}</td>
          </tr>
          <tr>
            <td class="name">Rocznik:</td>
            <td>{{ car.year }}</td>
          </tr>
          <tr>
            <td class="name">Opis:</td>
            <td>{{ car.description }}</td>
          </tr>
          <tr>
            <td class="name">Silnik:</td>
            <td>{{ car.engine }}</td>
          </tr>
          <tr>
            <td class="name">Moc:</td>
            <td>{{ car.power }}</td>
          </tr>
          <tr>
            <td class="name">Czas:</td>
            <td>{{ car.time }}</td>
          </tr>
          <tr>
            <td class="name">Skrzynia biegów:</td>
            <td>{{ car.gearbox }}</td>
          </tr>
          <tr>
            <td class="name">Predkość maksymalna:</td>
            <td>{{ car.maxspeed }}</td>
          </tr>
        </table>
        <button type="button" class="btn p-2 border-dark">Sprawdź dostępność w wybranym przez siebie terminie!</button>
</div>
