* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 450px;
  height: 350px;
  margin: 10px 40px 0 0;
}

.container-fluid {
  display: flex;
}

.car-info {
  margin: 80px 10px 100px 10px;
}

span {
  font-size: 20px;
}

p {
  font-weight: bold;
}

td:nth-child(even) {
  font-weight: 600;
}

.btn {
  background-color: rgb(20, 70, 160);
  color: white;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(52, 107, 211);
}
