<div class="container-fluid">
  <div class="row car-info">
    <h2>Rezerwacja samochodu: </h2>
    <img class="col-xl-4 col-lg-4 col-10" [src]="car?.img">
    <div class="col-xl-6 col-lg-11 col-md-11 col-sm-11 col-11">
      <span>Miasto odbioru samochodu: <p>{{car?.town}}</p></span>
      <span>Data rozpoczęcia najmu:  <p>{{car?.dateStart}}</p></span>
      <span>Data zakończenia najmu: <p>{{car?.dateEnd}}</p></span>
      <table class="mt-3">
        <tr>
          <td>Marka:</td>
          <td>{{ car?.brand }}</td>
        </tr>
        <tr>
          <td>Model:</td>
          <td>{{ car?.model }}</td>
        </tr>
        <tr>
          <td>Rocznik:</td>
          <td>{{ car?.year }}</td>
        </tr>
        <tr>
          <td>Opis:</td>
          <td>{{ car?.description }}</td>
        </tr>
        <tr>
          <td>Silnik:</td>
          <td>{{ car?.engine }}</td>
        </tr>
        <tr>
          <td>Moc:</td>
          <td>{{ car?.power }}</td>
        </tr>
        <tr>
          <td>Czas:</td>
          <td>{{ car?.time }}</td>
        </tr>
        <tr>
          <td>Skrzynia biegów:</td>
          <td>{{ car?.gearbox }}</td>
        </tr>
        <tr>
          <td>Predkość maksymalna:</td>
          <td>{{ car?.maxspeed }}</td>
        </tr>
      </table>
      <form #form="ngForm" (ngSubmit)="reserve()">
          <div class="row mt-4">
            <h3>Dane odbiorcy:</h3>
            <label  for="name">Imię i nazwisko:</label>
            <input  type="text" id="name" #name placeholder="Wpisz swoje imię i nazwisko" required>
            <label for="email">Adres e-mail:</label>
            <input  id="email" type="email" placeholder="Wpisz adres e-mail..." name="email" ngModel email #email="ngModel" required />
            <div class="mt-4">
              <button type="submit" class="btn btn-success p-2 border-dark" [disabled]="!form.valid">Zarezerwuj!</button>
            </div>
          </div>
        </form>

    </div>
  </div>
